<ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
     <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/raisa.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/rec1.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/rec2.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/rec3.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/rec5.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/so75.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

	</div>
    </ion-list>
  </ion-content>
</ion-view>
