<ion-view view-title="Profil Oranglain"  style="background-color: WhiteSmoke;">	
  <ion-content ng-class="{expanded:$scope.isExpanded}" class="animate-fade-slide-in">
   <ion-refresher on-refresh="doRefresh()">
                </ion-refresher>
  <div class="hero slide-up" style="background-image: url('img/logo1.jpg'); center; background-size: cover;">
	  
      <div class="padding">
		   <h5><a  class="light" style="position: fixed;top: 6%;left: 50%;transform: translate(-50%, -50%);">Dimas Danang</a></h5>
		  <div class="avatar" style="background-image: url('img/dj/danang.jpg'); position: fixed;top: 35%;left: 50%;transform: translate(-50%, -50%);border-radius:10%;height:90px;width:80px;"></div>
      <p><a  class="light" style="position: fixed;top: 65%;left: 50%;transform: translate(-50%, -50%);"><i style="font-style:italic">Beat them all ...!!!</i></a></p>
		 
		  
		  <div id="mainbox" style ="position:fixed;top: 80%;bottom: 5%;left:50%;transform: translate(-50%, -50%);width:330px;">
			  <div class="content" style="margin-right: 30px;">
			  <h3 class="light">2</h3>
				  <h6>Showlist</h6>
				  </div>
			  
			  
			  <div class="content" style="margin-right: 30px;">
			  <h3 class="light">26</h3>
				  <h6>Comments</h6>
				  </div>
			  
			 <div class="content" style="margin-right: 30px;">
			  <h3 class="light">2 K</h3>
				  <h6>Followers</h6>
				  </div>
			  
			   <div class="content">
			  <h3 class="light">199</h3>
				  <h6>Following</h6>
				  </div>
		  </div> 
	  </div>

  </div>

  <div class ="hero slide-up" style ="height:60px;" >  
 
    <div class="col" style="padding-right:30%;">
 <a class="button button-outline button-light icon-left ion-plus" 
	style = "button-outline:active;box-shadow: inset 0 1px 1px 0, 0 1 1px; border-radius: 30px;text-transform: capitalize;color:#FF9900;font-size:18px;width:50%;left:25%;"> Follow</a>    
	  </div>
    </div> 
	
	  
<div class="list card" style="margin-bottom:16px;">

  <div class="item item-avatar">
    <img src="img/dj/danang.jpg">
    <h2>Dimas Danang</h2>
	  <div id="mainbox">
	  <p>2</p>&nbsp;<p style="text-transform: lowercase;">hours ago</p>&nbsp<p style="font-style: italic;">&nbsp;● &nbsp;Playlist</p>
	  </div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/kr1.png">
	  <h2>Fungky Sunshine</h2>
                      <p>Fullfill your day with this playlist #funky</p>
                      <p>40 tracks</p>
  </div>

	<div id="mainbox">
  <div class="item tabs tabs-secondary tabs-icon-left" style="width:50%;">
    <a class="tab-item" href="#">
      <i class="icon ion-heart" href="#"></i>
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-share-alt"></i>
      
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-textsms"></i>
    </a>
  </div>
 <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
</div>
	  </div>
	  
	  
	  
	  <div class="list card" style="margin-bottom:16px;">

  <div class="item item-avatar">
    <img src="img/dj/danang.jpg">
    <h2>Dimas Danang</h2>
	  <div id="mainbox">
	  <p>2</p>&nbsp<p style="text-transform: lowercase;">hours ago</p>&nbsp<p style="font-style: italic;">&nbsp;● &nbsp;Playlist</p>
	  </div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/kr1.png">
	  <h2>Fungky Sunshine</h2>
                      <p>Fullfill your day with this playlist #funky</p>
	  
                     <div class="row">
                      <p>Include:</p>
                        <div class="btn" style ="height:30px;position:relative;top:10px;">Fun</div>
                        <div class="btn" style ="height:30px;position:relative;top:10px;">Rock</div>
                        <div class="btn" style ="height:30px;position:relative;top:10px;">Daft Punk</div>
                      </div>
                      
  </div>
		  

	<div id="mainbox">
  <div class="item tabs tabs-secondary tabs-icon-left" style="width:50%;">
    <a class="tab-item" href="#">
      <i class="icon ion-heart" href="#"></i>
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-share-alt"></i>
      
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-textsms"></i>
    </a>
  </div>
 <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
</div>
	  </div>
	  
<div class="list card" style="margin-bottom:16px;">

  <div class="item item-avatar">
    <img src="img/dj/danang.jpg">
    <h2>Dimas Danang</h2>
	  <div id="mainbox">
	  <p>2</p>&nbsp<p style="text-transform: lowercase;">hours ago</p>&nbsp<p style="font-style: italic;">&nbsp;● &nbsp;Content</p>
	  </div>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/beatles.png">
	   <h2>Cover – Hey Jude</h2>
                      <p>This is my guitar cover of hey jude song f..</p>
                      <p>40 tracks</p>
  </div>

	<div id="mainbox">
  <div class="item tabs tabs-secondary tabs-icon-left" style="width:50%;">
    <a class="tab-item" href="#">
      <i class="icon ion-heart" href="#"></i>
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-share-alt"></i>
      
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-textsms"></i>
    </a>
  </div>
 <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
</div>
	  </div>
	  
     
    
	  	

		
  </ion-content>
</ion-view>