<ion-view view-title="Setting">
  <ion-content>
    <div class="list">

      <div class="item item-icon-left"  ui-sref="app.setting-acc">
          <i class="icon ion-person"></i>
          <h3> Account </h3>
      </div>

      <div class="item item-icon-left" ui-sref="app.notification-settings">
          <i class="icon ion-android-notifications"></i>
          <h3> Notification </h3>
      </div>

      <div class="item item-icon-left" href="">
          <i class="icon ion-ios-help"></i>
          <h3> Help </h3>
      </div>
     
      <div class="item item-icon-left" href="http://bit.ly/TweetPrambors">
          <i class="icon ion-ios-information"></i>
          <h3> About </h3>
      </div>

	 </div>
  </ion-content>
</ion-view>
