<ion-view view-title="Account">
  <ion-content>
  <div class="list">
  	 <a class="item item-avatar" href="#">
      <img src="img/reza.jpg">
      <i class="ion-person"> Aditya Bagus Nureza</i>
      <p>+62 859-5649-4991</p>
      <p>Username</p>
    </a>
  </div>
  <div class="text" id="span">
  	<i class="padding"><b>Share Profile Photo</b>
  	<h6>When this switched on, your Profile photo willbe</h6>
  	<h6>shared to your Timeline when you change it.</h6>
  	</i>
  </div>
  </ion-content>
</ion-view>
