<ion-view view-title="Login">
<div class="wrapper">
  <div class="wheel closed">
    <form onsubmit="return false;">
      <ul>
        <li>
          <label class="sent-label">Thank You!</label>
          <input placeholder="Hi there! Press Tab..." tabindex="1">
        </li>
        <li>
          <input placeholder="This is," tabindex="2">
        </li>
        <li>
          <input placeholder="a circular form!" tabindex="3">
        </li>
        <li>
          <input placeholder="It lets you input data," tabindex="4">
        </li>
        <li>
          <input placeholder="or just read a list," tabindex="5">
        </li>
        <li>
          <input placeholder="through a path." tabindex="6">
        </li>
        <li>
          <input placeholder="When ready," tabindex="7">
        </li>
        <li>
          <input placeholder="press Enter to Send." tabindex="8">
        </li>
      </ul>
      <input type="submit">
    </form>
  </div>
</div>
</ion-view>