<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}">
    <div class="animate-fade-slide-in">
     <div class="list card">
       <div ui-sref="app.rundown" class="item item-avatar item-icon-right">
         <img src="img/adit.jpg">
           <h3>Adit coba</h3>
           <p>July 17, 2008</p>
             <i class="icon ion-android-more-vertical"></i>
       </div>
       <div>
          <img src="img/tumb1.jpg" ng-click="showConfirm()">
       </div>
        
            &nbsp;&nbsp;
           <p>coaba dulu</p>
             <p>testing</p>
               <p>40 Track</p>
                 <p>
                   <a class="icon ion-heart" style="color: black;" ></a>
                   <a class="icon icon-large ion-android-share-alt" style="color: black;"></a>
                   <a class="icon ion-android-textsms" style="color: black;"></a>
                   <a class="subdued"> &nbsp;&nbsp;1 Like</a>
                   <a class="subdued" > 5 Comments</a>
                 </p>
       </div>
    </div>
    </ion-content>
</ion-view>
