<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}">
    <div class="animate-fade-slide-in">

      <ion-list>
          <ion-item class="item-full" collection-repeat="item in rundown" href="#" style = "padding-top:-10px;padding-bottom:-50px;">
            <div class="list card">
              <div class="item">
                <h2>{{item.content}}</h2>
              </div>

              <div class="item item-divider">
                 {{item.type}}
              </div>
              <a class="item item-icon-left assertive">
                <i class="icon ion-ios7-timer"></i>
                Dimulai {{item.timestamp | date:'medium'}}
              </a>
            </div>
          </ion-item>
        </ion-list>


    </div>
    </ion-content>
</ion-view>
