<ion-view view-title="Berita">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="button-bar">
        <div class="button-bar">
  <a class="button" ui-sref="app.beritaterbaru">Terbaru</a>
  <a class="button">Terpopuler</a>
</div>
</div>
  <div class="list">
      <div class="item item-thumbnail-left" href="#">
        <img src="img/radio1.jpg">
        <h2><b>Semangat Pagi</b></h2>
        <p>Prambors FM Jakarta</p>
      </div>
      <div class="item item-thumbnail-left" href="#">
        <img src="img/news1.jpg">
        <h2><b>Lauching Album Tulus</b></h2>
        <p>Prambors FM Jakarta</p>
      </div>
  </div>
    </ion-content>
</ion-view>
