<ion-view view-title="Berita">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="button-bar">
        <div class="button-bar">
  <a class="button">Terbaru</a>
  <a class="button" ui-sref="app.beritaterpopuler">Terpopuler</a>
</div>
</div>
<div class="list">
<div class="row">
    <div id="mainbox" class="col-50" ui-sref="app.program">
        <div class="card card-gallery item item-text-wrap">
            <div class="ink light-bg">
                <img ng-src="img/radio3.jpg">
                <a class="item item-text-left item-icon-right" style="border-bottom: solid 1px #FFFFFF;">
                    <i class="icon ion-android-more-vertical" style="right:0px" ng-click="showActionsheet()"></i>
                    <h3 style="font-weight: bold; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Semangat Pagi</h3>
                </a>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prambors FM Jakarta</p>
            </div>
        </div>
    </div>
    <div id="mainbox" class="col-50" ui-sref="app.program">
        <div class="card card-gallery item item-text-wrap">
            <div class="ink light-bg">
                <img ng-src="img/radio1.jpg">
                <a class="item item-text-left item-icon-right" style="border-bottom: solid 1px #FFFFFF;">
                    <i class="icon ion-android-more-vertical" style="right:0px" ng-click="showActionsheet()"></i>
                    <h3 style="font-weight: bold; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Semangat Pagi</h3>
                </a>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prambors FM Jakarta</p>
            </div>
        </div>
    </div>
</div>
    <br>
    <div class="list">
      <div class="row">
          <div id="mainbox" class="col-50" ui-sref="app.program">
              <div class="card card-gallery item item-text-wrap">
                  <div class="ink light-bg">
                      <img ng-src="img/radio3.jpg">
                      <a class="item item-text-left item-icon-right" style="border-bottom: solid 1px #FFFFFF;">
                          <i class="icon ion-android-more-vertical" style="right:0px" ng-click="showActionsheet()"></i>
                          <h3 style="font-weight: bold; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Semangat Pagi</h3>
                      </a>
                      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prambors FM Jakarta</p>
                  </div>
              </div>
          </div>
          <div id="mainbox" class="col-50" ui-sref="app.program">
              <div class="card card-gallery item item-text-wrap">
                  <div class="ink light-bg">
                      <img ng-src="img/radio1.jpg">
                      <a class="item item-text-left item-icon-right" style="border-bottom: solid 1px #FFFFFF;">
                          <i class="icon ion-android-more-vertical" style="right:0px" ng-click="showActionsheet()"></i>
                          <h3 style="font-weight: bold; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Semangat Pagi</h3>
                      </a>
                      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prambors FM Jakarta</p>
                  </div>
              </div>
          </div>
  </div>
    </div>
    </ion-content>
</ion-view>
