<ion-view view-title="Disc Jockey">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list">
          <div class="item item-button-right kategori" style="padding-bottom:4px;background-color:WhiteSmoke;">
              <h2><b>The Dandies</b></h2>
              <button class="button button-clear icon-more btn-more"
               style="right:0px;width: 5px;height: 25px;border-radius:10px;"></button>
          </div>
            <div class="list animate-fade-slide-in-right">
                    <div class="row">
                        <div class="col col-50 item item-image">
                            <img src="img/dj/darto.jpg">
                        </div>
                    <div class="col col-50 item item-image">
                        <img src="img/dj/danang.jpg">
                    </div>
            </div>
        </div>
        <div class="list animate-fade-slide-in-left">
          <div class="item item-button-right kategori" style="padding-bottom:4px;background-color:WhiteSmoke;">
              <h2><b>The Dandies</b></h2>
              <button class="button button-clear icon-more btn-more"
               style="right:0px;width: 5px;height: 25px;border-radius:10px;"></button>
          </div>
          <div class="row">
              <div class="col col-30 item item-image">
                  <img src="img/dj/djcj.jpg">
              </div>
          <div class="col col-30 item item-image">
              <img src="img/dj/eda.jpg">
          </div>
          <div class="col col-30 item item-image">
              <img src="img/dj/jeje.jpg">
          </div>
        </div>

    </ion-content>
</ion-view>
