<ion-view view-title="Disc Jockey">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                    <div class="row">
                        <div class="col col-30 item item-image">
                            <img src="img/dj/darto.jpg">
                        </div>
                    <div class="col col-30 item item-image">
                        <img src="img/dj/danang.jpg">
                    </div>
                    <div class="col col-30 item item-image">
                        <img src="img/dj/kenny.jpg">
                    </div>
                    </div>
            </div>
        </div>

    </ion-content>
</ion-view>
