<ion-view view-title="Personal Disc Jockey">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="animate-fade-slide-in">
    <div id="slider">
        <figure>
            <img src="img/tumb1.jpg">
            <img src="img/tumb2.jpg">
            <img src="img/tumb3.jpg">
        </figure>
    </div>
    <div class="list animate-fade-slide-in-right">
            <div class="list card">
                <a class="item item-thumbnail-left" style="height: 100px">
                    <img src="img/dj/darto.jpg">
                    <h2>Inspiring Life</h2>
                    <p>By Imam Darto</p>
                </a>
            </div>
            <div class="list card">
            <div class="padding">
            <h4>Program Radio</h4>
            </div>
                <a class="item item-avatar-left" style="height: 100px; border-bottom: solid 1px #BDBDBD;">
                    <img src="img/tumb1.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
                <a class="item item-avatar-left" style="height: 100px; border-bottom: solid 1px #BDBDBD;">
                    <img src="img/tumb2.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
                <a class="item item-avatar-left" style="height: 100px; border-bottom: solid 1px #BDBDBD;">
                    <img src="img/tumb3.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
        </div>
    </div>
      
    </ion-content>
</ion-view>
