<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/bluecov.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon" style="position: fixed;top: 70%;left: 35%"></div>
                <h1 style="position: fixed;top: 120%;left: 25%">Radio XYZ</h1>
                <p style="position: fixed;top: 150%;left: 20%">Indonesia Number 1 Hits Music Station</p>
            </div>
        </div>
    </ion-content>
</ion-view>
