<ion-view view-title="Login Screen" align-title="left">
    <ion-content style="background: url(img/bluecov.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon" style="position: fixed;top: 70%;left: 33%"></div>
                <h1 style="position: fixed;top: 120%;left: 23%">Radio XYZ</h1>
                <p style="position: fixed;top: 150%;left: 17%">Indonesia Number 1 Hits Music Station</p>
            </div>
            <div class="padding" style="position: absolute;top: 160%;left: 10%">
            	<button ui-sref="app.login" class="button button-full button-positive ink ion-person">Login</button>
        	</div>
        	<div class="padding" style="position: absolute;top: 160%;right: 10%">
            	<button ui-sref="app.signup" class="button button-full button-positive ink ion-person-add">Sign Up</button>
        	</div>
        </div>
    </ion-content>
</ion-view>
