<ion-view view-title="Program">
    <ion-content ng-class="{expanded:isExpanded}">
    <div class="animate-fade-slide-in">
     <div class="list card">
        <img src="img/tumb1.jpg">
        
        <!--<div class="item item-button-right" style="background-color:WhiteSmoke;">
          <h3><b>Inspiring Life</b></h3>
          <button class="button button-clear ion-android-share-alt" style="right:0px;width: 0px;height: 5px;border-radius:50px;"></button>
        </div>-->
        <div class="list animate-fade-slide-in-right">
            <div class="list">
                <a class="item item-thumbnail-left" style="height: 100px" ui-sref="app.dj">
                    <img src="img/adit.jpg">
                    <h2>Inspiring Life</h2>
                    <p>By Aditya BN</p>
                    <div class="item item-icon1-left item-icon-right" style="right: 95px;">
                    <i class="icon ion-ios-clock-outline">
                    <p>06.00 - 10.00 WIB</p></i> 
                    </div>
                </a>
            </div>
        </div>
      </div>
      <div class="list card">
          <div class="padding">
            <h4>Description</h4>
             <p>Desta & Gina in The Morning! kawula muda, Siaran pagi bareng Desta & Gina , Pagi kamu dijamin bakalan seru dengan kehebohan dari Desta dan Nycta Gina. Yang paling seru buat kamu yang ngerasa punya masalah kamu bisa ikutan share di Miss Dong-Dong yang akan kasih solusi masalah kamu! Dan ada ISENG AH dimana Penyiar ngerjain penyedia jasa (contoh: tukang sedot wc, tukang jahit, debt collector) dan menanyakan pertanyaan iseng & jahil untuk menggali informasi, yang tidak jarang malah memicu kekesalan sang nara sumber. Penasaran kaya apa keseruan mereka berdua di pagi hari? Desta & Gina in The Morning! bakal mengudara di 8 kota Prambors.</p>
                <p>Hastag:<b>#DGITM</b></p>
          </div>
      </div>
    </ion-content>
</ion-view>
