<ion-view view-title="Quisoner">
    <ion-content ng-class="{expanded:isExpanded}">
    <div class="animate-fade-slide-in">
    <div class="padding">
    <h10>Acara</h10>
    <div class="list" style="border-bottom: solid 1px #BDBDBD;">
        <label class="item item-input item-select">
          <div class="input-label">
            <h3>Pemilihan tema</h3>
          </div>
        <select>
            <option selected="">Pilih</option>
            <option>Bagus</option>
            <option>Biasa</option>
            <option>Buruk</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            <h3>Kesesuain waktu</h3>
          </div>
        <select>
            <option selected="">Pilih</option>
            <option>Bagus</option>
            <option>Biasa</option>
            <option>Buruk</option>
          </select>
        </label>
    </div>
    <h10>Disc Jockey</h10>
     <div class="list" style="border-bottom: solid 1px #BDBDBD;">
        <label class="item item-input item-select">
          <div class="input-label">
            <h3>Penggunaan bahasa</h3>
          </div>
        <select>
            <option selected="">Pilih</option>
            <option>Bagus</option>
            <option>Biasa</option>
            <option>Buruk</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            <h3>Interaksi kepada pendengar</h3>
          </div>
        <select>
            <option selected="">Pilih</option>
            <option>Bagus</option>
            <option>Biasa</option>
            <option>Buruk</option>
          </select>
        </label>
    </div>
    <h10>Pemilihan Lagu</h10>
     <div class="list" style="border-bottom: solid 1px #BDBDBD;">
        <label class="item item-input item-select">
          <div class="input-label">
            <h3>Kecocokan dengan tema</h3>
          </div>
        <select>
            <option selected="">Pilih</option>
            <option>Bagus</option>
            <option>Biasa</option>
            <option>Buruk</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            <h3>Kecocokan dengan waktu</h3>
          </div>
        <select>
            <option selected="">Pilih</option>
            <option>Bagus</option>
            <option>Biasa</option>
            <option>Buruk</option>
          </select>
        </label>
    </div>
    <a class="button icon-left ion-paper-airplane button-positive" ui-sref="app.radio">Simpan</a>
    </div>
    </ion-content>
</ion-view>
