<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
    <a class="button icon-left ion-chevron-left button-clear button-light" style= "position:relative; left: -30px;">Back</a>
        <div class="hero slide-up" style="background-image: url('img/blueback.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/nxt.png');"></div>
                <h3><a class="light">Radio XYZ</a></h3>
                <h4>@radioxyzfm</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.dj" class="tab-item">
                <i class="icon ion-android-people"></i> DJ
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <h4 class="content padding double-padding-x">Program Radio</h4>
        <div class="list animate-fade-slide-in-right">
            <div class="list">
                <a class="item item-thumbnail-left" style="height: 100px">
                    <img src="img/tumb1.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
                <a class="item item-thumbnail-left" style="height: 100px">
                    <img src="img/tumb2.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
                <a class="item item-thumbnail-left" style="height: 100px">
                    <img src="img/tumb3.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
