<ion-view view-title="Profile">
<a class="button icon-left ion-chevron-left button-clear button-light" style= "position:relative; left: -30px;" ng-click="myGoBack">Back</a>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/blueback.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/nxt.png');"></div>
                <h3><a class="light">Radio XYZ</a></h3>
                <h4>@radioxyzfm</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.dj" class="tab-item">
                <i class="icon ion-android-people"></i> DJ
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <div class="item item-button-right kategori" style="padding-bottom:4px;background-color:WhiteSmoke;">
            <h2>Program Radio</h2>
            <button class="button button-clear icon-more btn-more" 
             style="right:0px;width: 5px;height: 25px;border-radius:10px;"></button>
        </div>
        <div class="list">
        <div class="row">
            <div id="mainbox" class="col-50" ui-sref="app.program">
                <div class="card card-gallery item item-text-wrap">
                    <div class="ink light-bg">
                        <img ng-src="img/tumb1.jpg">
                        <a class="item item-text-left item-icon-right" style="border-bottom: solid 1px #FFFFFF;">
                            <i class="icon ion-android-more-vertical" style="right:0px" ng-click="showActionsheet()"></i>
                            <h3 style="font-weight: bold; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">Inspiring Life</h3>
                        </a>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prambors FM Jakarta</p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="list animate-fade-slide-in-right">
            <div class="list">
                <a class="item item-thumbnail-left" style="height: 100px">
                    <img src="img/tumb1.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
                <a class="item item-thumbnail-left" style="height: 100px">
                    <img src="img/tumb2.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
                <a class="item item-thumbnail-left" style="height: 100px">
                    <img src="img/tumb3.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
            </div>-->
        </div>
    </ion-content>
</ion-view>
